body {
    font-family: 'Gloria Hallelujah', cursive;
}

.game {
    position: relative;
    background-color: chocolate;
}

.row {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    min-height: 66px;
}

.row:first-child {
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
}

.coin {
    display: inline-block;
    margin: 5px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
}

.current-player {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 2px;
}

.current-player.finished {
    background-color: green;
}
